.no_item_container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 500px;
  flex-direction: column;
  gap: 5px;
}
.no_item {
  color: #aeaeae;
}
.no_item_icon {
  color: #aeaeae;
  font-size: 30px;
  padding: 10px 28px;
  background: #eeeeee;
  border-radius: 50px;
}
