/* .category {
  width: 82%;
  margin: auto;
} */
.banner_image img {
  display: block;
  width: 82%;
  margin: 30px auto;
}
.category_sort {
  display: flex;
  margin: 0px 170px;
  justify-content: space-between;
  align-items: center;
}
.category_sort_btn {
  padding: 10px 20px;
  border-radius: 40px;
  border: 1px solid #888;
}
.products {
  margin: 20px 180px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 5px;
  justify-content: center;
}
.product_show_more {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px auto;
  padding-bottom: 4px;
  width: 250px;
  height: 60px;
  border-radius: 75px;
  background: #ededed;
  color: #787878;
  font-size: 18px;
  cursor: pointer;
  user-select: none;
}
.product_show_more:active {
  background: #cfcdcd;
}

@media (max-width: 1280px) {
  .banner_image img {
    margin: 20px auto;
    width: 90%;
  }
  .category_sort {
    width: 90%;
    margin: auto;
  }
  .category_sort_btn {
    padding: 5px 10px;
    font-size: 12px;
  }
  .category_sort p {
    font-size: 12px;
  }
  .products {
    width: 90%;
    margin: 10px auto;
    row-gap: 30px;
    margin-top: 30px;
  }
  .products .item {
    margin: auto;
  }
  .product_show_more {
    margin: 100px auto;
    width: 200px;
    height: 60px;
    font-size: 16px;
  }
}
@media (max-width: 800px) {
  .banner_image img {
    width: 95%;
  }
  .products {
    width: 95%;
  }
  .product_show_more {
    margin: 60px auto;
    width: 150px;
    height: 40px;
    font-size: 13px;
  }
}
@media (max-width: 500px) {
  .products {
    grid-template-columns: 1fr 1fr;
  }
}
