.offers {
  width: 65%;
  height: 80vh;
  display: flex;
  margin: auto;
  padding: 0px 140px;
  margin-top: 100px;
  background: linear-gradient(180deg, #fde1ff 0%, #e1ffea22 60%);
  border-radius: 2px;
}
.offers_left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
}
.offers_left h1 {
  color: #171717;
  font-size: 50px;
  margin-bottom: 10px;
}
.offers_left p {
  color: #171717;
  font-size: 22px;
}
.offers_left button {
  width: 282px;
  height: 70px;
  border-radius: 35px;
  border: none;
  color: white;
  font-size: 22px;
  margin-top: 30px;
  cursor: pointer;
  background-color: #ff4141;
}
.offers_right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
.offers_right img {
  width: 300px;
}
@media (max-width: 1280px) {
  .offers {
    padding: 0px 80px;
    margin-bottom: 120px;
  }
  .offers_left h1 {
    font-size: 40px;
  }
  .offers_left p {
    font-size: 18px;
  }
  .offers_left button {
    width: 220px;
    height: 50px;
    font-size: 18px;
  }
  .offers_right {
    padding-top: 30px;
  }
  .offers_right img {
    width: 300px;
  }
}
@media (max-width: 1024px) {
  .offers {
    padding: 0px 60px;
    margin-bottom: 80px;
    height: 40vh;
  }
  .offers_left h1 {
    font-size: 30px;
  }
  .offers_left p {
    font-size: 16px;
  }
  .offers_left button {
    width: 160px;
    height: 40px;
    font-size: 16px;
  }
  .offers_right img {
    width: 165px;
  }
}
@media (max-width: 800px) {
  .offers {
    margin-bottom: 60px;
  }
  .offers_left h1 {
    font-size: 22px;
  }
  .offers_left p {
    font-size: 13px;
  }
  .offers_left button {
    width: 140px;
    height: 30px;
    font-size: 12px;
  }
  .offers_right img {
    width: 180px;
  }
}
@media (max-width: 500px) {
  .offers {
    margin-bottom: 30px;
    height: 25vh;
    margin-top: 0;
  }
  .offers_left {
    gap: 2px;
  }
  .offers_left h1 {
    font-size: 16px;
    margin-bottom: 5px;
  }
  .offers_left p {
    font-size: 10px;
  }
  .offers_left button {
    width: 120px;
    height: 25px;
    font-size: 10px;
    margin-top: 12px;
  }
  .offers_right img {
    width: 120px;
  }
}
